<!-- landing page for users -->

<div class="row">

<!-- Top row  -->
  <div class="row">
    <div class="col-md-12">
      <h1 class="fontsize-xxxxl text-center">
        <span>Hi there,</span>
        <%# unless current_user.nil? || current_user.first_name.blank? %>
          <%= current_user.first_name if current_user %>
        <%# end %>
      </h1>
      <h3 class="fontsize-l text-center">
        Please complete the following steps to open an investment account at the WealthSimple-Clone
      </h3>
    </div>
  </div>

<!-- Middle row with steps -->
  <div class="row jumbotron">
    <table class="table-responsive" >
      <tr>
        <td>
          <%# if @risk_completed %>
            <span class="glyphicon glyphicon-ok-sign" aria-hidden="true" ></span>
          <%# else %>
            <!-- <div class="round-number">1</div> -->
          <%# end %>
        </td>
        <td>
          <%# if @kyc_completed %>
            <span class="glyphicon glyphicon-ok-sign" aria-hidden="true" ></span>
          <%# else %>
            <!-- <div class="round-number">2</div> -->
          <%# end %>
        </td>
        <td>
          <%# if @photo_upload_completed %>
            <span class="glyphicon glyphicon-ok-sign" aria-hidden="true" ></span>
          <%# else %>
            <!-- <div class="round-number">3</div> -->
          <%# end %>
        </td>
      </tr>

      <tr>
        <td>
          <h3><span class="bold" style="color: #77c043" >Step 1 </span><br> Complete Investment Questionnaire</h3>
        </td>

        <td>
          <h3><span class="bold" style="color: #77c043" >Step 2</span> <br> Complete Your Personal Investment Sheet</h3>
        </td>

        <td>
          <h3><span class="bold" style="color: #77c043" >Step 3</span> <br> Upload Photo ID and Sign <br> Investment Application(s) Online</h3>
        </td>

      </tr>

      <tr>
        <td>
            Once we know your investing situation, we can then recommend one of our portfolios to meet your needs.
        </td>

        <td>
            Once we know your investing situation, we can then recommend one of our portfolios to meet your needs.
        </td>

        <td>
            Once we know your investing situation, we can then recommend one of our portfolios to meet your needs.
        </td>

      </tr>

      <tr>
        <td>
          <%# if @risk_started %>
            <p><%#= button_to "EDIT", risk_assessment_edit_path, method: 'get', disabled: @kyc_completed, class: "btn btn-primary" %></p>
          <%# else %>
            <p><%#= button_to "GET STARTED", risk_assessment_new_path, method: 'get', disabled: @kyc_completed, class: "btn btn-primary" %></p>
          <%# end %>
        </td>

        <td>
          <%# if @kyc_in_progress %>
            <p><%#= button_to "EDIT", know_your_client_new_path, method: 'get', disabled: @kyc_completed, class: "btn btn-primary" %></p>
          <%# else %>
            <p><%#= button_to "GET STARTED", know_your_client_new_path, method: 'get', disabled: @kyc_completed, class: "btn btn-primary" %></p>
          <%# end %>
        </td>

        <td>
          <p><%#= button_to "GET STARTED", sign_form_new_path, method: "get", disabled: @forms_not_completed, class: "btn btn-primary" %></p>
        </td>

      </tr>

    </table>
  </div>


<!-- Bottom row -->
  <div class="row">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2> <br> Your WealthSimple-Clone Team: Fake Investing For You <br> </h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">

        <!-- spacer -->
        <div class="col-md-2"></div>

        <!-- Left side column -->
        <div class="col-md-5">

          <div class="col-md-3">
            <img src="http://placehold.it/150x150" alt="place holder image" class="img-circle">
          </div>

          <!-- spacer -->
          <div class="col-md-1"></div>

          <div class="col-md-8">
            <p>
              Sara Collington, MBA, CFA <br>
              accounts@wealthsimple-clone.com <br>
              1 866 407 7865 <br>
            </p>
          </div>
       </div>


       <!-- Right side column -->
        <div class="col-md-5">

          <div class="col-md-3">
            <img src="http://placehold.it/150x150" alt="place holder image" class="img-circle">
            <%#= image_tag 'avatar.96.gif', class: 'img-circle' %>
          </div>

          <!-- spacer -->
          <div class="col-md-1"></div>

          <div class="col-md-8">
            <p>
              John Doe, CFP, CIM <br>
              john@wealthsimple-clone.com <br>
              1 866 407 7865 <br>
            </p>
          </div>
       </div>

      </div>
    </div>

  </div>

</div>