<!-- landing page for users -->

<div class="row">

<!-- Top row  -->
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">
        <span><em>Hi there, <%= @current_user.first_name if @current_user %></em></span>
      </h1>
      <h4 class="text-center">
        Please complete the following steps to open an investment account at the WealthSimple-Clone
      </h4>
    </div>
  </div>

<!-- Middle row with steps -->
  <div class="row jumbotron">
    <div class="col-md-4">
      <p class="bold steps" > Step 1 </p>
      <h3>Complete Your Personal Investment Sheet</h3>
      <p class="step-content">Once we know more about you, we can then recommend one of our portfolios to meet your needs.</p>
      <p><button type="button" class="btn btn-default" formaction="#">Get started</button></p>

    </div>
    <div class="col-md-4">
      <p class="bold steps" > Step 2 </p>
      <h3>Complete Your Personal Investment Sheet</h3>
      <p class="step-content">Tell us how you want to manage risk. We'll choose a portfolio to reflect this.</p>
      <p><button type="button" class="btn btn-default" formaction="#">Get started</button></p>

    </div>
    <div class="col-md-4">
      <p class="bold steps" > Step 3 </p>
      <h3>Complete Your Personal Investment Sheet</h3>
      <p class="step-content">Last step. Just sign off on your application and upload your id.</p>
      <p><button type="button" class="btn btn-default" formaction="#">Get started</button></p>

    </div>
  </div>


<!-- Bottom row -->
  <div class="row wealthsimple-clone-team">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="team-section-title"> <br> Your WealthSimple-Clone Team: Fake Investing For You <br> </h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">

        <!-- spacer -->
        <div class="col-md-2"></div>

        <!-- Left side column -->
        <div class="col-md-5">

          <div class="col-md-3">
            <img src="http://placehold.it/150x150" alt="place holder image" class="img-circle">
          </div>

          <!-- spacer -->
          <div class="col-md-1"></div>

          <div class="col-md-8">
            <p>
              Sara Collington, MBA, CFA <br>
              accounts@wealthsimple-clone.com <br>
              1 866 407 7865 <br>
            </p>
          </div>
       </div>


       <!-- Right side column -->
        <div class="col-md-5">

          <div class="col-md-3">
            <img src="http://placehold.it/150x150" alt="place holder image" class="img-circle">
            <%#= image_tag 'avatar.96.gif', class: 'img-circle' %>
          </div>

          <!-- spacer -->
          <div class="col-md-1"></div>

          <div class="col-md-8">
            <p>
              John Doe, CFP, CIM <br>
              john@wealthsimple-clone.com <br>
              1 866 407 7865 <br>
            </p>
          </div>
       </div>

      </div>
    </div>

  </div>

</div>