<form action="/sign-in" method="post">
  <div>
    <label for="email">Email</label>
    <input type="text" id="email" name="user[email]" autofocus>
  </div>

  <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="user[password]">
  </div>

  <input type="submit" value="SIGN IN" class="btn-primary">

</form>