<div class="row">
  <div class="col-md-4"></div>
  <div class="form-container col-md-4">
    <h3 class="text-center">Sign in to your account</h3>
    <fieldset>

      <form action="/sign-in" method="post">
        <input type="email" id="email" name="user[email]" class="form-control text-center" placeholder="Email address" autofocus>
        <input type="password" id="password" name="user[password]" class="form-control text-center" placeholder="Password">
        <input type="submit" value="Sign In" class="btn btn-primary sign-in-btn text-center">
      </form>

    </fieldset>
  </div>
  <div class="col-md-4"></div>
</div>

