<div class="row">
  <div class="col-md-4"></div>
    <div class="form-container col-md-4">
      <h3 class="text-center">Sign up and let's getting it going</h3>
        <fieldset>
          <form action="/signup" method="post">
            <input type="text" id="first_name" name="user[first_name]" class="form-control signin text-center" placeholder="David" autofocus >
            <input type="text" id="last_name" name="user[last_name]" class="form-control signin text-center" placeholder="Jeremiah">
            <input type="text" id="email" name="user[email]" class="form-control signin text-center" placeholder="david.jeremiah@yahoo.com">
            <input type="password" id="password" name="user[password]" class="form-control signin text-center" placeholder="Password (6+ characters)">
            <input type="password" id="password_confirmation" name="user[password_confirmation]" class="form-control signin text-center" placeholder="Confirm password">
            <input type="submit" value="Sign up" class="btn btn-primary sign-up-btn text-center">
          </form>

        </fieldset>
    </div>
  <div class="col-md-4"></div>
</div>


