<footer id="footer">
    <div class="container">
        <div class="clearfix row">
            <div id="contact-2" class="widget widget_contact col-md-3">
                <h3>Contact</h3>
                <address>
                    <span class="address"><i class="fa fa-map-marker"></i><span class="adress-overflow">1 Yonge St., Suite 1801,<br> Toronto, Ontario M5E 1W7</span></span>
                    <span class="phone"><i class="fa fa-phone"></i><strong>Phone:</strong> (416) 799-1234</span>
                    <span class="email"><i class="fa fa-envelope"></i><strong>E-Mail:</strong> <a href="mailto:info@wealthsimple-clone.com">info@wealthsimple-clone.com</a></span>
                </address>
            </div>
            <div id="nav_menu-2" class="widget widget_nav_menu col-md-3">
                <h3>Navigation</h3>
                <div class="menu-wealthsimple-clone-main-navigation-container">
                    <ul id="menu-wealthsimple-clone-main-navigation" class="menu">
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-15442">
                            <a href="#about">About</a>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-15443">
                            <a href="#how-it-works">How it works</a>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-15444">
                            <a href="#why-just-wealth">Why wealthsimple-clone?</a>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-15446">
                            <a href="#resources">Resources</a>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-15411">
                            <a href="#Get-Started">Get Started</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="text-3" class="widget widget_text col-md-3">
                <h3>A Smarter way to invest</h3>
                <div class="textwidget">wealthsimple-clone gives Canadians a new way to invest. Our simple to use online investment tool is more personalized and cost effective, meaning your wealth grows faster.</div>
            </div>
            <div id="search-3" class="widget widget_search col-md-3">
                <form action="http://www.wealthsimple-clone.com/" id="searchform" method="get">
                    <input type="text" id="s" name="s" value="To search type and hit enter" onfocus="if(this.value=='To search type and hit enter')this.value='';" onblur="if(this.value=='')this.value='To search type and hit enter';" autocomplete="off">
                    <input type="submit" value="Search" id="searchsubmit">
                </form>
            </div>
        </div>
    </div>
</footer>
