<footer class="footer-container">
  <div class="container">
    <div class="clearfix row">
      <div id="contact-2" class="widget widget_contact col-md-3">
        <h3>Contact</h3>
        <address>
          <span class="address"><i class="fa fa-map-marker"></i><span class="address-overflow">1 Jane St., Suite 101,<br> Toronto, Ontario M5E 1W7</span><br>
          <span class="phone"><i class="fa fa-phone"></i><strong>Phone:</strong> (647) 232-1234</span><br>
          <span class="email"><i class="fa fa-envelope"></i><strong>E-Mail:</strong> <a href="mailto:info@wealthsimple-clone.com">info@wealthsimple-clone.com</a></span>
        </address>
      </div>
      <div id="footer-menu" class="widget widget_nav_menu col-md-3">
        <h3>Navigation</h3>
        <div class="menu-wealthsimple-clone-footer-navigation-container">
          <ul id="menu-wealthsimple-clone-footer-navigation" class="menu">
            <li class="footer-nav-menu menu-item-1">
              <a href="#about">About</a>
            </li>
            <li class="footer-nav-menu menu-item-2">
              <a href="#how-it-works">How it works</a>
            </li>
            <li class="footer-nav-menu menu-item-3">
              <a href="#why-just-wealth">Why wealthsimple-clone?</a>
            </li>
            <li class="footer-nav-menu menu-item-4">
              <a href="#resources">Resources</a>
            </li>
            <li class="footer-nav-menu menu-item-5">
              <a href="#Get-Started">Get Started</a>
            </li>
          </ul>
        </div>
      </div>
      <div id="text-3" class="widget widget_text col-md-3">
        <h3>How Investing is Really Done</h3>
        <div class="textwidget">
          WealthSimple-Clone gives Canadians a new way to invest. Our simple to use online investment tool don't work you but work for you. Join us, come be in the know.
        </div>
      </div>
      <div id="search-3" class="widget widget_search col-md-3">
        <form action="#" id="searchform" method="get">
          <input type="text" id="s" name="s" value="What you looking for?" onfocus="if(this.value=='To search type and hit enter')this.value='';" onblur="if(this.value=='')this.value='What you looking for?';" autocomplete="off">
          <input type="submit" value="Search" id="searchsubmit">
        </form>
      </div>
    </div>
  </div>
</footer>
