<div id="header" class="navbar navbar-default">
    <div class="container">
        <div class="sixteen columns">
            <div class="topbar-col1"></div>
            <div class="topbar-col2">
                <div class="menu-onepage-container">
                    <ul id="menu-onepage" class="nav navbar-nav">
                        <%# if current_user.nil? %>
                            <li class="pagescroll menu-item menu-item-type-custom menu-item-object-custom">
                              <a href="#">Start Investing Now</a>
                            </li>
                        <%# else %>
                            <%# if current_user.admin %>
                                <li class="pagescroll menu-item menu-item-type-custom menu-item-object-custom">
                                  <a href="#">Admin Panel</a>
                                </li>
                            <%#end %>
                                <li class="pagescroll menu-item menu-item-type-custom menu-item-object-custom">
                                  <a href="#">Home</a>
                                </li>
                                <li class="pagescroll menu-item menu-item-type-custom menu-item-object-custom">
                                  <form action="/logout" method="post">
                                    <input type="hidden" name="_method" value="delete">
                                    <input type="submit" value="Log Out" class="btn">
                                  </form>
                                </li>
                        <%# end %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
