<div class="sticky-wrapper">
    <header id="header" class="header header-v1 clearfix">
        <div class="container">
            <div id="logo-navigation" class="sixteen columns">
                <div id="logo" class="logo">
                    <a href="http://www.wealthsimple-clone.com/">
                        <img src="http://www.wealthsimple-clone.com/wp-content/uploads/2015/07/wealthsimple-clone-logo.png" alt="wealthsimple-clone" class="logo_standard">
                    </a>
                    <a href="http://www.wealthsimple-clone.com/">
                        <img src="http://www.wealthsimple-clone.com/wp-content/uploads/2015/07/wealthsimple-clone-logo.png" alt="wealthsimple-clone" class="logo_transparent">
                    </a>
                    <a href="http://www.wealthsimple-clone.com/">
                        <img src="http://www.wealthsimple-clone.com/wp-content/uploads/2015/07/wealthsimple-clone-logo-retina.png" width="250" height="40" alt="wealthsimple-clone" class="logo_retina">
                    </a>
                    <a href="http://www.wealthsimple-clone.com/">
                        <img src="http://www.wealthsimple-clone.com/wp-content/uploads/2015/07/wealthsimple-clone-logo-retina.png" width="250" height="40" alt="wealthsimple-clone" class="logo_retina_transparent">
                    </a>
                </div>
                <div id="navigation" class="clearfix">
                    <div class="header-icons"></div>
                    <ul id="nav" class="menu sf-js-enabled sf-arrows">
                        <li id="menu-item-15442" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-15442">
                            <a href="#about">About</a>
                        </li>
                        <li id="menu-item-15443" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-15443">
                            <a href="#how-it-works">How it works</a>
                        </li>
                        <li id="menu-item-15444" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-15444">
                            <a href="#why-just-wealth">Why wealthsimple-clone?</a>
                        </li>
                        <li id="menu-item-15446" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-15446">
                            <a href="#resources">Resources</a>
                        </li>
                        <li id="menu-item-15411" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-15411">
                            <a href="#Get-Started">Get Started</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
</div>
