<div id="header">
  <div class="row">
      <nav class="navbar navbar-default">
        <div class="col-md-12">
          <div class="col-md-4">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"><h2>WealthSimple-Clone</h2></a>
            </div>
          </div>

          <div class="col-md-5 col-md-offset-3">
            <div class="collaspe navbar-collapse" id="navbar-collapse-1">
              <ul class="nav navbar-nav pull-right">
                <% if @current_user.nil? %>

                  <% investing_path = "/signup" if request.path == '/sign-in' %>
                  <% investing_path = "/sign-in" if request.path == '/signup' %>

                  <li class="header-menu-item">
                    <a href=<%= investing_path %>>Start Investing Now</a>
                  </li>

                <% else %>
                  <% if @current_user.admin? %>

                    <li class="header-menu-item">
                      <a href="#">Admin Panel</a>
                    </li>

                  <%end %>

                    <li class="header-menu-item">
                      <a href="#">Home</a>
                    </li>

                    <li class="header-menu-item">
                      <form action="/logout" method="post" class="nav-btn">
                        <input type="hidden" name="_method" value="delete">
                        <input type="submit" value="Log Out" class="btn btn-primary">
                      </form>
                    </li>

                <% end %>
              </ul>
            </div>

          </div>

        </div>

      </nav>




  </div>
</div>
