<!-- Client dashboard -->
<div class='row'>
  <div class="col-md-12">
    <h3>THIS IS THE CLIENT'S DASHBOARD. IT WILL ACCESS DATA VIA API.</h3>
  </div>
</div>

<!-- Search form -->
<div class="row">
  <div class="col-md-12">
    <form action="search" method="get">
      <label for="search">SEARCH</label>
      <input type="text" id="search" name="search">
      <input type="submit" value="GO">
    </form>
  </div>
</div>